<%- include('partials/header'); -%>

  <main id="site-main">
    <div class="container">
      <h2>Contact</h2>
      <div class="form-container">
        <form >
          
            <label for="name">Name</label>
            <input type="text" name="name" required>
            <div class="name error"></div>

            <label for="name">Phone</label>
            <input type="text" name="name" required>
            <div class="name error"></div>

            <label for="name">Email Adress</label>
            <input type="email" name="name" required>
            <div class="name error"></div>

            <label for="subject">Subject</label>
            <input type="text" name="subject" required>
            <div class="subject error"></div>

            <label for="message">Your Message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <div class="name error"></div>
            

            <button>Send</button>


        </form>
    </div>

      
    </div>
  </main>


  <%- include('partials/footer'); -%>