<%- include('partials/header'); -%>

    <main id="site-main">
        <div class="container">
            <div >
                <div class="banner" >
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sit exercitationem unde expedita iusto omnis illum, accusamus quas repellendus quam incidunt minima voluptas labore? Ipsam vero hic sunt distinctio error.</p>
                </div>
            </div>

            <div class="cardContainer">
                <div class="card" style="background-color:rgb(153, 29, 224);">
                    <h2>First card</h2>
                    <p>Some text</p>
                </div>
                <div class="card" style="background-color:rgb(12, 126, 120);">
                    <h2>Second card</h2>
                    <p>Some text</p>
                </div>
                <div class="card" style="background-color:rgb(207, 41, 91);">
                    <h2>Third card</h2>
                    <p>Some text</p>
                </div>
                <div class="card" style="background-color:rgb(204, 91, 39);">
                    <h2>Fourth card</h2>
                    <p>Some text</p>
                </div>
            </div>
        </div>
    </main>


    <%- include('partials/footer'); -%>