<%- include('partials/header'); -%>

  <main id="site-main">
    <div class="container">
      <h2>Home Page</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tellus quis iaculis elementum.
        Nullam odio leo, condimentum vitae iaculis ac, iaculis a libero. Sed ac tellus ex. Duis pharetra tincidunt
        commodo. Nunc nisi orci, tempus quis porttitor et, ullamcorper sed dui. Aenean dapibus id orci a tempor. Aliquam
        lacinia urna at consectetur suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Sed ut ultricies lectus. Quisque sed quam vulputate, dictum nisi eu, commodo sapien. Nunc at
        nunc ornare, eleifend lectus in, cursus quam. Sed dapibus ante et ipsum aliquam eleifend. Fusce feugiat sed quam
        et convallis. Quisque pretium, justo in consequat mattis, ligula tortor mattis sem, eget aliquet velit tortor et
        eros.
      </p>

      <p>Nullam tempor, nisi ac faucibus imperdiet, massa magna pellentesque magna, nec dapibus lacus nisl vel nulla.
        Sed sit amet consequat turpis. In hac habitasse platea dictumst. Pellentesque porttitor sapien ultrices,
        imperdiet justo eu, volutpat tellus. Aenean scelerisque lectus risus, sed vestibulum sapien ultrices quis.
        Vestibulum suscipit suscipit aliquet. Fusce accumsan augue enim, sed dictum enim auctor nec.

      </p>
      <p>Maecenas mattis quam ac ex vulputate tristique. Sed laoreet massa ut nulla sollicitudin, ac sodales lorem
        vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
        placerat eleifend justo, eu fermentum urna cursus id. Etiam iaculis, risus sit amet malesuada convallis, ligula
        tortor rutrum nisl, sagittis dapibus felis libero ac enim. Donec fringilla suscipit sapien non consequat. Duis
        rhoncus sapien in justo mattis, sed faucibus massa vestibulum. Cras id velit sit amet nulla commodo ultrices.
        Maecenas feugiat, eros malesuada tristique pharetra, ante purus placerat diam, lobortis blandit tortor arcu quis
        augue. Donec pretium neque sed augue lacinia ornare. Vestibulum laoreet metus in nibh pulvinar vulputate. Nullam
        pharetra maximus lorem a sollicitudin. Integer auctor vehicula purus, luctus malesuada libero ultrices eget. Nam
        rhoncus gravida mattis.

      </p>
      <p>Aenean maximus nibh eu orci volutpat dignissim. In sodales odio ipsum, a convallis velit bibendum interdum.
        Nulla facilisi. Curabitur ut blandit purus. Donec urna quam, accumsan vel sapien sed, feugiat convallis risus.
        Etiam est ligula, convallis quis venenatis eget, vestibulum nec arcu. Curabitur nec ligula neque.

      </p>
      <p>Maecenas feugiat risus vitae enim commodo, in luctus erat posuere. Integer sit amet sem et nibh iaculis
        consequat maximus non elit. In tempus est odio, eu hendrerit erat rutrum sed. Nulla in interdum felis, ut
        posuere turpis. Cras feugiat justo elit, ac varius tortor fermentum sed. Nullam eget eros pretium, vulputate
        magna eu, aliquet elit. Suspendisse ullamcorper fermentum mauris, eu rutrum metus auctor sit amet. Fusce eget
        quam commodo, tempus mi quis, ornare velit. Donec dignissim blandit lacus et vulputate. Suspendisse tristique
        vitae libero non feugiat. Ut vel erat a metus consectetur vehicula ut pellentesque felis. Mauris id ultrices ex.

      </p>
    </div>
  </main>


  <%- include('partials/footer'); -%>